#NavbarButton {
    border: none;
    color: grey;
}

#PageHeaderLabel {
    font-size: 16px;
    position: realtive;
    top: 10px;
    left: 20px;
    padding-right: 20px;
    min-width: 200px;
}

#pageBody {
    border: 1px solid grey;
    background-color: black;
}

QLabel {
    font-size: 13px;
}

#settings-title {
    font-size: 14px;
    color: #6495ED;
}

#SettingsWidgets {
    max-width: 200px;
}


#separator {
    background: blueviolet;
}
* {
    background-color: black!important;
    color: white;
}