# Let's keep some of these cumbersome files off these sweet github serverss!

output/
.vscode/
__pycache__/

__pycache__/
*.py[cod]

project/*.pyc

# virtual env stuff
Scripts/
Include/
Lib/
pyvenv.cfg